@import 'variables.scss';
@import 'mixins.scss';
@import 'index/page-header.scss';
@import 'index/handmade.scss';
@import 'index/goods.scss';
@import 'index/about-us.scss';
@import 'index/rewiews.scss';
@import 'index/contacts.scss';
@import 'index/page-footer.scss';
@import 'catalog/products.scss';
@import 'catalog/production.scss';
@import 'form/worksheet.scss';
@import 'form/main-form.scss';

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 17px;
	font-weight: 700;
	line-height: 30px;
	color: $text-color;
}

*, *::before, *::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}
