.main-form {
	padding-bottom: 55px;
	label {
		display: block;
		font-size: 17px;
		line-height: 18px;
		color: #000;
	}
	input, textarea {
		font-size: 17px;
		line-height: 18px;
		font-weight: 400;
		font-family: 'Open Sans', sans-serif;
	}
	&__about {
		margin: 0;
		margin-bottom: 25px;
		line-height: 16px;
		color: $types;
	}
	&__list {
		list-style: none;
		padding: 0;
		margin: 0;
	}
	&__element {
		width: $mobile;
		margin-left: auto;
		margin-right: auto;
		padding: 0 30px;
		padding-bottom: 34px;
	}
	&__element:last-child {
		padding-bottom: 0;
	}
	&__necessarily {
		font-weight: 400;
		font-size: 14px;
		line-height: 16px;
		margin-top: 14px;
		margin-bottom: 33px;
	}
	&__wrapper--type {
		label {
			padding-left: 63px;
			margin-bottom: 13px;
			padding-top: 11px;
			padding-bottom: 11px;
		}
		label:last-child {
			margin-bottom: 0;
		}
	}
	&__wrapper--color {
		label {
			padding-top: 11px;
			padding-bottom: 11px;
			padding-left: 64px;
			margin-bottom: 22px;
		}
	}
	&__wrapper--personal {
		input {
			width: 100%;
			padding-top: 16px;
			padding-bottom: 16px;
		}
		label p {
			margin: 0;
		}
	}
	&__about--call {
		margin-bottom: 9px;
	}
	&__wrapper--call {
		input {
			padding-top: 16px;
			padding-bottom: 16px;
		}
	}
	&__about--email {
		margin-top: 34px;
		margin-bottom: 9px;
	}
	&__wrapper--email {
		input {
			padding-top: 16px;
			padding-bottom: 16px;
		}
	}
	&__about--wishes {
		margin-bottom: 23px;
	}
	&__wrapper--wishes {
		textarea {
			width: 100%;
		}
	}
	&__footer {
		padding: 0 30px;
	}
	&__order {
		background-color: transparent;
		font-weight: 700;
		font-size: 17px;
		width: 100%;
	}
}

@media (min-width: $tablet) {
	.main-form {
		padding-bottom: 50px;
		input, textarea {
			font-size: 19px;
		}
		&__element {
			width: $tablet;
			padding-left: 50px;
			padding-right: 50px;
			padding-bottom: 50px;
			padding-top: 50px;
			display: flex;
			flex-wrap: wrap;
			margin-left: auto;
			margin-right: auto;
		}
		&__element:last-child {
			padding-bottom: 50px;
		}
		&__about {
			width: 167px;
		}
		&__about--color {
			width: 167px;
		}
		label {
			font-size: 19px;
		}
		&__wrapper {
			width: 500px;
		}
		&__wrapper--type {
			label {
				padding-left: 80px;
				margin-bottom: 24px;
				padding-top: 16px;
				padding-bottom: 16px;
			}
			label:last-child {
				margin-bottom: 0;
			}
		}
		&__about {
			margin-bottom: 0;
		}
		&__wrapper--color {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			label {
				width: 240px;
			}
		}
		&__wrapper--personal  {
			label {
				display: flex;
				margin-bottom: 12px;
			}
			label:last-child {
				margin-bottom: 0;
			}
			p {
				padding-right: 25px;
				padding-top: 22px;
			}
		}
		&__wrapper--call {
			flex-grow: 1;
			margin-bottom: 12px;
		}
		&__about--call {
			padding-top: 22px;
			margin-bottom: 12px;
		}
		&__phone {
			width: 100%;
		}
		&__wrapper--email {
			flex-grow: 1;
		}
		&__email {
			width: 100%;
		}
		&__about--email {
			margin: 0;
			padding-top: 22px;
		}
		&__footer {
			width: $tablet;
			margin: 0 auto;
			padding: 0 50px;
			display: flex;
		}
		&__necessarily {
			order: 2;
			font-size: 17px;
			line-height: 30px;
			margin-left: auto;
			
		}
		&__order {
			width: 230px;
		}
	}
}

@media (min-width: $desktop) {
	.main-form {
		&__element {
			width: 1150px;
			margin-left: auto;
			margin-right: auto;
			
			padding-left: 110px;
		}
		&__about {
			width: 115px;
		}
		&__wrapper {
			width: 875px;
			padding-right: 175px;
		}
		&__wrapper--color {
			padding-right: 0;
			justify-content: flex-start;
			label {
				margin-right: 23px;
			}
		}
		&__wrapper--personal {
			label {
				margin-bottom: 15px;
			}
		}
		&__element--small {
			padding-top: 40px;
		}
		&__wrapper--call {
			margin-bottom: 15px;
		}
		&__footer {
			width: 1150px;
			padding: 0 225px;
		}
	}
}
