.goods {
	padding-top: 32px;
	padding-bottom: 42px;
	&__title {
		font-size: 25px;
		line-height: 30px;
		color: #000;
		margin: 0;
		margin-bottom: 3px;
	}
	&__top {
		margin: 0;
		line-height: 20px;
		color: #63d1bb;
		text-transform: uppercase;
	}
	&__description {
		font-weight: 400;
		font-size: 15px;
		line-height: 24px;
		margin: 0;
	}
	&__info {
		margin-top: 17px;
		margin-bottom: 28px;
		width: 100%;
		border-collapse: collapse;
	}
	&__info td {
		font-size: 15px;
		line-height: 20px;
		font-weight: 400;
		border-bottom: 1px solid #ececec;
		padding: 10px 0;
	}
	&__info td:first-child {
		width: 90px;
		padding-right: 5px;
	}
	&__cost {
		line-height: 24px;
		text-align: center;
		margin: 0;
		margin-top: 25px;
	}
	&__order {
		margin-top: 25px;
	}
	&__column {
		margin-top: 27px;
	}
	&__photo {
		width: 260px;
		height: 315px;
	}
}

@media (min-width: $tablet) {
	.goods {
		padding-bottom: 70px;
		&__flex {
			display: flex;
		}
		&__title {
			margin: 0;
			font-size: 43px;
			line-height: 50px;
			width: 500px;
		}
		&__top {
			padding-top: 10px;
			margin-left: 70px;
			line-height: 17px;
			width: 80px;
			text-align: center;
		}
		&__column {
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			max-height: 456px;
		}
		&__description {
			width: 290px;
			font-size: 17px;
			line-height: 30px;
		}
		&__info {
			width: 290px;
			margin-top: 40px;
			margin-bottom: 0;
		}
		&__cost {
			font-size: 20px;
			margin-top: 50px;
			width: 290px;
		}
		&__order {
			width: 290px;
		}
		&__photo {
			order: 2;
			width: 333px;
			height: 404px;
  		margin-left: 44px;
		}
	}

}

@media (min-width: $desktop) {
	.goods {
		&__title {
			z-index: 2;
			font-size: 53px;
			line-height: 57px;
			width: 530px;
		}
		&__flex {
			position: relative;
			margin-bottom: -108px;
		}
		&__top {
			position: absolute;
			margin: 0;
			line-height: 17px;
			left: -130px;
			top: 0;
			padding-top: 15px;
		}
		&__photo {
			width: 525px;
			height: 636px;
			background-color: green;
		}
		&__description {
			padding-top: 160px;
		}
		&__column {
			max-height: 710px;
			margin-top: 0;
		}
		&__info {
			margin-top: 57px;
		}
		&__cost {
			margin-top: 100px;
		}
		&__order {
			margin-top: 30px;
		}
	}
}