.handmade {
	background-color: red; // Потом убрать
	padding-top: 78px;
	&__title {
		font-size: 27px;
		color: #000;
		width: 245px;
		line-height: 30px;
		text-align: center;
		margin: 0 auto;
		margin-bottom: 125px;	
	}
	&__list {
		margin-top: 55px;
		padding: 0;
		margin: 0;
		list-style: none;
	}
	&__element {
		width: 260px;
		font-size: 19px;
		line-height: 24px;
		color: #fff;
		padding: 28px 130px 28px 0;
	}
}

@media (min-width: $tablet) {
	.handmade {
		padding-top: 108px;
		&__title {
			font-size: 43px;
			line-height: 50px;
			width: 505px;
			margin-bottom: 370px;
		}
		&__list {
			display: flex;
			flex-wrap: wrap;
		}
		&__element {
			font-size: 20px;
			line-height: 30px;
			width: 334px;
			padding: 30px 167px 18px 36px;
		}
	}
}

@media (min-width: $desktop) {
	.handmade {
		padding-top: 97px;
		&__title {
			font-size: 53px;
			line-height: 57px;
			width: 620px;
			margin-bottom: 355px;
		}
		&__element {
			width: 525px;
			padding: 27px 350px 15px 36px;
		}
		&__list {
			margin-bottom: 110px;
		}
	}
}